{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
    "extends": [
        "prettier-plugin-astro/recommended",
        "prettier-plugin-tailwindcss/recommended"
    ],
    "tailwindConfig": "tailwind.config.cjs"
}