<div class="relative min-w-screen sm:flex">
    <svg
        class="absolute z-10 w-[250%] sm:w-fit"
        id="visual"
        viewBox="0 0 1920 600"
        width="100%"
        height="800"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        ><rect width="100%" height="800" fill="none"></rect><g
            ><g class="animate-fade-in-out" transform="translate(84 328)">
                <path
                    d="M72.4 2L142.8 42.6V124L72.4 164.6L2 124V42.6L72.4 2Z"
                    fill="none"
                    style="stroke: rgb(var(--color-bg));"
                    stroke-width="2"></path>
                <path
                    d="M72.4 2L142.8 42.6V124L72.4 164.6L2 124V42.6L72.4 2Z"
                    style="fill: rgb(var(--cube-stroke));
                    opacity: 0.2;"
                >
                </path>
                <path
                    d="M72.5071 165V83.8327M72.5071 83.8327L1 43M72.5071 83.8327L143 43"
                    style="stroke: rgb(var(--color-bg));"
                    stroke-width="2"></path></g
            ><g class="animate-fade-in-out" transform="translate(295 496)"
                ><path
                    d="M26.3997 46.3372L78.5076 15.671L131.19 45.5385L131.635 105.999L79.5274 136.665L26.8449 106.797L26.3997 46.3372Z"
                    fill="none"
                    style="stroke: rgb(var(--color-bg));"
                    stroke-width="2"></path>
                <path
                    d="M26.3997 46.3372L78.5076 15.671L131.19 45.5385L131.635 105.999L79.5274 136.665L26.8449 106.797L26.3997 46.3372Z"
                    style="fill: rgb(var(--cube-stroke));
                    opacity: 0.2;"
                ></path>
                <path
                    d="M131.934 106.076L79.402 76.2939M79.402 76.2939L26.7373 107.591M79.402 76.2939L78.8403 15.6882"
                    style="stroke: rgb(var(--color-bg));"
                    stroke-width="2"></path></g
            ><g class="animate-fade-in-out" transform="translate(726 320)"
                ><path
                    d="M37.1989 2L72.1829 22.1755V62.6258L37.1989 82.8012L2.21484 62.6258V22.1755L37.1989 2Z"
                    fill="none"
                    style="stroke: rgb(var(--color-bg));"
                    stroke-width="2"></path>
                <path
                    d="M37.1989 2L72.1829 22.1755V62.6258L37.1989 82.8012L2.21484 62.6258V22.1755L37.1989 2Z"
                    style="fill: rgb(var(--cube-stroke));
                    opacity: 0.2;"
                ></path>
                <path
                    d="M37.252 82.9998V42.6651M37.252 42.6651L1.71777 22.374M37.252 42.6651L72.2822 22.374"
                    style="stroke: rgb(var(--color-bg));"
                    stroke-width="2"></path></g
            ><g class="animate-fade-in-out" transform="translate(958 96)">
                <path
                    d="M34.2624 12.4009L74.0504 19.3181L87.9581 57.3024L62.0436 88.2761L22.2556 81.3589L8.3479 43.3747L34.2624 12.4009Z"
                    fill="none"
                    style="stroke: rgb(var(--color-bg));"
                    stroke-width="2"></path>
                <path
                    d="M34.2624 12.4009L74.0504 19.3181L87.9581 57.3024L62.0436 88.2761L22.2556 81.3589L8.3479 43.3747L34.2624 12.4009Z"
                    style="fill: rgb(var(--cube-stroke));
                    opacity: 0.2;"
                ></path>
                <path
                    d="M62.1616 88.4447L48.2936 50.569M48.2936 50.569L7.94922 43.7324M48.2936 50.569L74.2117 19.4708"
                    style="stroke: rgb(var(--color-bg));"
                    stroke-width="2"></path>
            </g>
            <g class="animate-fade-in-out" transform="translate(522 88)"
                ><path
                    d="M45.4656 9.64566L94.7206 25.6372L105.492 76.3764L66.9818 110.999L17.7268 95.0079L6.95545 44.2687L45.4656 9.64566Z"
                    fill="none"
                    style="stroke: rgb(var(--color-bg));"
                    stroke-width="2"></path>
                <path
                    d="M45.4656 9.64566L94.7206 25.6372L105.492 76.3764L66.9818 110.999L17.7268 95.0079L6.95545 44.2687L45.4656 9.64566Z"
                    style="fill: rgb(var(--cube-stroke));
                    opacity: 0.2;"
                ></path>
                <path
                    d="M67.1012 111.234L56.3607 60.6399M56.3607 60.6399L6.38477 44.6499M56.3607 60.6399L94.8979 25.8596"
                    style="stroke: rgb(var(--color-bg));"
                    stroke-width="2"></path></g
            ><g class="animate-fade-in-out" transform="translate(802 528)"
                ><path
                    d="M67.5822 2.0812L128.172 39.592L125.943 110.934L63.1306 144.59L2.54078 107.079L4.76933 35.7373L67.5822 2.0812Z"
                    fill="none"
                    style="stroke: rgb(var(--color-bg));"
                    stroke-width="2"></path>
                <path
                    d="M67.5822 2.0812L128.172 39.592L125.943 110.934L63.1306 144.59L2.54078 107.079L4.76933 35.7373L67.5822 2.0812Z"
                    style="fill: rgb(var(--cube-stroke));
                    opacity: 0.2;"
                ></path>
                <path
                    d="M63.2134 144.943L65.4356 73.8051M65.4356 73.8051L3.88184 36.0601M65.4356 73.8051L128.336 39.9477"
                    style="stroke: rgb(var(--color-bg));"
                    stroke-width="2"></path></g
            ></g
        >
    </svg>

    <!-- GRID -->
    <svg
        class="absolute flex z-0 w-full sm:w-full"
        width="100%"
        height="800"
        viewBox="0 0 1600 600"
        fill="none"
    >
        <g class="h-[500%] sm:h-full">
            <rect width="100%" height="800" style="fill: rgb(var(--color-bg));"
            ></rect>
            <g class="opacity-20">
                <path
                    d="M1607.56 -357L1607.56 1257.17C1161.11 812.007 438.072 812.007 -8.38375 1257.17L-8.38368 -357C438.072 88.1632 1161.11 88.1632 1607.56 -357Z"
                    fill="none"
                    style="stroke: rgb(var(--cube-stroke));"
                    stroke-miterlimit="10"></path>
                <path
                    d="M119.808 -246.616C119.808 217.863 119.808 682.325 119.808 1146.8"
                    style="stroke: rgb(var(--cube-stroke));"
                    stroke-miterlimit="10"></path>
                <path
                    d="M259.238 -158.33L259.238 1058.5"
                    style="stroke: rgb(var(--cube-stroke));"
                    stroke-miterlimit="10"></path>
                <path
                    d="M407.393 -92.1064L407.393 992.277"
                    style="stroke: rgb(var(--cube-stroke));"
                    stroke-miterlimit="10"></path>
                <path
                    d="M561.776 -47.9636L561.776 948.133"
                    style="stroke: rgb(var(--cube-stroke));"
                    stroke-miterlimit="10"></path>
                <path
                    d="M719.894 -25.8831L719.894 926.053"
                    style="stroke: rgb(var(--cube-stroke));"
                    stroke-miterlimit="10"></path>
                <path
                    d="M879.268 -25.8831L879.268 926.053"
                    style="stroke: rgb(var(--cube-stroke));"
                    stroke-miterlimit="10"></path>
                <path
                    d="M1037.4 -47.9636C1037.4 284.069 1037.4 616.101 1037.4 948.133"
                    style="stroke: rgb(var(--cube-stroke));"
                    stroke-miterlimit="10"></path>
                <path
                    d="M1191.79 -92.1064C1191.79 269.349 1191.79 630.822 1191.79 992.277"
                    style="stroke: rgb(var(--cube-stroke));"
                    stroke-miterlimit="10"></path>
                <path
                    d="M1339.94 -158.33C1339.94 247.286 1339.94 652.884 1339.94 1058.5"
                    style="stroke: rgb(var(--cube-stroke));"
                    stroke-miterlimit="10"></path>
                <path
                    d="M1479.35 -246.616L1479.35 1146.8"
                    style="stroke: rgb(var(--cube-stroke));"
                    stroke-miterlimit="10"></path>

                <path
                    d="M1607.56 1110.42C1161.11 746.196 438.072 746.196 -8.38369 1110.42"
                    style="stroke: rgb(var(--cube-stroke));"
                    stroke-miterlimit="10"></path>
                <path
                    d="M1607.56 963.68C1161.11 680.404 438.072 680.404 -8.38369 963.68"
                    style="stroke: rgb(var(--cube-stroke));"
                    stroke-miterlimit="10"></path>
                <path
                    d="M1607.56 816.944C1161.11 614.593 438.072 614.593 -8.38369 816.943"
                    style="stroke: rgb(var(--cube-stroke));"
                    stroke-miterlimit="10"></path>
                <path
                    d="M1607.56 670.207C1161.11 548.801 438.072 548.801 -8.38368 670.207"
                    style="stroke: rgb(var(--cube-stroke));"
                    stroke-miterlimit="10"></path>
                <path
                    d="M1607.56 523.453C1161.11 482.99 438.072 482.99 -8.38368 523.453"
                    style="stroke: rgb(var(--cube-stroke));"
                    stroke-miterlimit="10"></path>
                <path
                    d="M1607.56 376.717C1161.11 417.18 438.072 417.18 -8.38368 376.717"
                    style="stroke: rgb(var(--cube-stroke));"
                    stroke-miterlimit="10"></path>
                <path
                    d="M1607.56 229.981C1161.11 351.387 438.072 351.387 -8.38368 229.981"
                    style="stroke: rgb(var(--cube-stroke));"
                    stroke-miterlimit="10"></path>
                <path
                    d="M1607.56 83.2266C1161.11 285.577 438.072 285.577 -8.38368 83.2265"
                    style="stroke: rgb(var(--cube-stroke));"
                    stroke-miterlimit="10"></path>
                <path
                    d="M1607.56 -63.5098C1161.11 219.766 438.072 219.766 -8.38368 -63.5098"
                    style="stroke: rgb(var(--cube-stroke));"
                    stroke-miterlimit="10"></path>
                <path
                    d="M1607.56 -210.246C1161.11 153.974 438.072 153.974 -8.38368 -210.246"
                    style="stroke: rgb(var(--cube-stroke));"
                    stroke-miterlimit="10"></path>
            </g>
        </g>
    </svg>

    <script>
        const allCubes = document.querySelectorAll(".animate-fade-in-out");
        const allCubesArray = Array.from(allCubes);

        const coordArray = [
            [
                [544, 484],
                [812, 187],
                [80, 268],
                [619, 78],
                [319, 371],
                [915, 31],
            ],
            [
                [460, 175],
                [11, 531],
                [259, 178],
                [806, 132],
                [170, 424],
                [956, 341],
            ],
            [
                [538, 790],
                [628, 357],
                [945, 67],
                [103, 425],
                [719, 200],
                [834, 998],
            ],
            [
                [248, 295],
                [870, 27],
                [286, 92],
                [313, 507],
                [493, 499],
                [680, 227],
            ],
            [
                [273, 333],
                [2, 73],
                [851, 309],
                [761, 512],
                [285, 4],
                [460, 237],
            ],
        ];

        let oldRandomNumbers = [0, 0];

        setInterval(() => {
            let newRandomNumber;

            do {
                newRandomNumber = Math.floor(Math.random() * 5);
            } while (oldRandomNumbers.includes(newRandomNumber));

            const randomSet = coordArray[newRandomNumber];

            let elementIndex = 0;
            let isMobile = window.matchMedia(
                "only screen and (max-width: 760px)"
            ).matches;

            allCubesArray.forEach((cube) => {
                const newX = isMobile
                    ? randomSet[elementIndex][0]
                    : randomSet[elementIndex][0] + 200;
                const newY = isMobile
                    ? randomSet[elementIndex][1] + 100
                    : randomSet[elementIndex][1];

                cube.setAttribute("transform", `translate(${newX} ${newY})`);

                elementIndex++;
            });

            oldRandomNumbers = [oldRandomNumbers[1], newRandomNumber];

            console.log(oldRandomNumbers);
        }, 5000);
    </script>
</div>
