---
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import ByNumber from "./ByNumber.astro";
---

<section class="relative pt-32 lg:pt-36 mb-[10%] h-[90vh] w-full">
    <svg
        class="absolute"
        id="visual"
        viewBox="0 0 1920 1080"
        width="120%"
        height="85vh"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        ><rect
            x="0"
            y="0"
            width="100%"
            height="1080"
            style="fill: rgb(var(--color-bg))"></rect><path
            d="M0 492L52.8 479.2C105.7 466.3 211.3 440.7 317 428C422.7 415.3 528.3 415.7 634 453.3C739.7 491 845.3 566 951 595.3C1056.7 624.7 1162.3 608.3 1268 593.7C1373.7 579 1479.3 566 1585 580.5C1690.7 595 1796.3 637 1849.2 658L1902 679L1902 1081L1849.2 1081C1796.3 1081 1690.7 1081 1585 1081C1479.3 1081 1373.7 1081 1268 1081C1162.3 1081 1056.7 1081 951 1081C845.3 1081 739.7 1081 634 1081C528.3 1081 422.7 1081 317 1081C211.3 1081 105.7 1081 52.8 1081L0 1081Z"
            fill="#fa7268"></path><path
            d="M0 667L52.8 675C105.7 683 211.3 699 317 700.5C422.7 702 528.3 689 634 680.7C739.7 672.3 845.3 668.7 951 655.3C1056.7 642 1162.3 619 1268 611.2C1373.7 603.3 1479.3 610.7 1585 633.2C1690.7 655.7 1796.3 693.3 1849.2 712.2L1902 731L1902 1081L1849.2 1081C1796.3 1081 1690.7 1081 1585 1081C1479.3 1081 1373.7 1081 1268 1081C1162.3 1081 1056.7 1081 951 1081C845.3 1081 739.7 1081 634 1081C528.3 1081 422.7 1081 317 1081C211.3 1081 105.7 1081 52.8 1081L0 1081Z"
            fill="#ef5f67"></path><path
            d="M0 679L52.8 687.5C105.7 696 211.3 713 317 729.2C422.7 745.3 528.3 760.7 634 781.3C739.7 802 845.3 828 951 831.3C1056.7 834.7 1162.3 815.3 1268 799.5C1373.7 783.7 1479.3 771.3 1585 748.2C1690.7 725 1796.3 691 1849.2 674L1902 657L1902 1081L1849.2 1081C1796.3 1081 1690.7 1081 1585 1081C1479.3 1081 1373.7 1081 1268 1081C1162.3 1081 1056.7 1081 951 1081C845.3 1081 739.7 1081 634 1081C528.3 1081 422.7 1081 317 1081C211.3 1081 105.7 1081 52.8 1081L0 1081Z"
            fill="#e34c67"></path><path
            d="M0 786L52.8 794.2C105.7 802.3 211.3 818.7 317 824.8C422.7 831 528.3 827 634 837.5C739.7 848 845.3 873 951 878.7C1056.7 884.3 1162.3 870.7 1268 877.3C1373.7 884 1479.3 911 1585 903.2C1690.7 895.3 1796.3 852.7 1849.2 831.3L1902 810L1902 1081L1849.2 1081C1796.3 1081 1690.7 1081 1585 1081C1479.3 1081 1373.7 1081 1268 1081C1162.3 1081 1056.7 1081 951 1081C845.3 1081 739.7 1081 634 1081C528.3 1081 422.7 1081 317 1081C211.3 1081 105.7 1081 52.8 1081L0 1081Z"
            fill="#d53867"></path><path
            d="M0 970L52.8 970.3C105.7 970.7 211.3 971.3 317 974.2C422.7 977 528.3 982 634 975.2C739.7 968.3 845.3 949.7 951 932.7C1056.7 915.7 1162.3 900.3 1268 905.2C1373.7 910 1479.3 935 1585 943.2C1690.7 951.3 1796.3 942.7 1849.2 938.3L1902 934L1902 1081L1849.2 1081C1796.3 1081 1690.7 1081 1585 1081C1479.3 1081 1373.7 1081 1268 1081C1162.3 1081 1056.7 1081 951 1081C845.3 1081 739.7 1081 634 1081C528.3 1081 422.7 1081 317 1081C211.3 1081 105.7 1081 52.8 1081L0 1081Z"
            fill="#c62368"></path>
    </svg>
    <Container className={"flex flex-col lg:flex-row gap-10 lg:gap-12"}>
        <div
            class="relative flex flex-col items-center text-center lg:text-left lg:py-7 xl:py-8 lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2"
        >
            <h1
                class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight font-bold text-heading-1"
            >
                Social Media <span
                    class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600"
                    >Marketing</span
                > is the Best Ever.
            </h1>
            <Paragraph className="mt-8">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Dolores repellat perspiciatis aspernatur quis voluptatum porro
                incidunt, libero sequi quos eos velit
            </Paragraph>
            <div class="mt-10 w-full flex max-w-md mx-auto lg:mx-0">
                <div class="flex sm:flex-row flex-col gap-5 w-full">
                    <form
                        action="#"
                        class="py-1 pl-6 w-full pr-1 flex gap-3 items-center text-heading-3 shadow-lg shadow-box-shadow border border-box-border bg-box-bg rounded-full ease-linear focus-within:bg-body focus-within:border-primary"
                    >
                        <span class="min-w-max pr-2 border-r border-box-border">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="20"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-5 h-5"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M21.75 9v.906a2.25 2.25 0 01-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 001.183 1.981l6.478 3.488m8.839 2.51l-4.66-2.51m0 0l-1.023-.55a2.25 2.25 0 00-2.134 0l-1.022.55m0 0l-4.661 2.51m16.5 1.615a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V8.844a2.25 2.25 0 011.183-1.98l7.5-4.04a2.25 2.25 0 012.134 0l7.5 4.04a2.25 2.25 0 011.183 1.98V19.5z"
                                ></path>
                            </svg>
                        </span>
                        <input
                            type="email"
                            name=""
                            id=""
                            placeholder="johndoe@gmail.com"
                            class="w-full py-3 outline-none bg-transparent"
                        />
                        <Button
                            variant={"primary"}
                            className={"min-w-max text-white"}
                        >
                            <span class="hidden sm:flex relative z-[5]">
                                Get Started
                            </span>
                            <span class="flex sm:hidden relative z-[5]">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="w-5 h-5"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
                                    ></path>
                                </svg>
                            </span>
                        </Button>
                    </form>
                </div>
            </div>
        </div>
    </Container>

    <ByNumber />
</section>
