---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import Services from "../components/sections/Services.astro";
import AboutUs from "../components/sections/AboutUs.astro";
import Features from "../components/sections/Features.astro";
import CTA from "../components/sections/CTA.astro";
import Brands from "../components/sections/Brands.astro";
import AnimatedHero from "../components/sections/AnimatedHero.astro";
---

<Layout title="Global Blders">
    <main
        class="flex flex-col gap-y-20 md:gap-y-32 max-w-screen overflow-hidden"
    >
        <AnimatedHero />
        <Hero />
        <Brands />
        <Services />
        <AboutUs />
        <Features />
        <CTA />
    </main>
</Layout>
